

p {
    color:#D38F35;
    font-size: 32px;
    text-align: center;
}

.social{
    filter: invert(60%);
}


.email-font{
    font-size: 24px;
}

.mapouter{
    position:relative;
    text-align:right;
    height:400px;
    width:500px;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:400px;
    width:500px;
}